body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: white;
}

.Header {
  padding: 1.5em;
  margin: 0 0 4em;
  border-bottom: 1px solid mix(white, #17AE64, 75%);
  background: mix(white, #17AE64, 95%);
  color: mix(black, #17AE64, 80%);
  text-align: right;
}

.Logo {
  float: left;
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: bold;

  img {
    vertical-align: middle;
  }
}

.Total {
  font-size: 2em;
  color: #17AE64;
}

.TotalLabel {
  font-size: .875em;
  font-weight: bold;
}

.Wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.AccountList {
  overflow: hidden;
  width: 780px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.AccountListItem {
  width: 220px;
  margin: 0 20px 40px;
  float: left;
  text-align: center;
}

.AccountListItemLogoWrapper {
  overflow: hidden;
  width: 180px;
  margin: 0 0 6px;
  padding: 30px 20px;
  border-radius: 2px 2px 8px 8px;
  background: black;
  text-align: right;

  img {
    float: left;
    display: inline-block;
    margin-right: 10px;
  }
}

.AccountListItemName {
  line-height: 1.4em;
  font-size: .8em;
  font-weight: bold;
  color: mix(white, black, 30%);
}

.AccountListItemAmount {
  line-height: 40px;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.AccountListItemLastUpdate {
  line-height: 1.4em;
  font-size: .7em;
  font-weight: bold;
  color: mix(white, black, 60%);
}
