body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: white;
}

.Total {
  padding: 1.5em;
  margin: 0 0 2em;
  font-size: 2em;
  text-align: center;
  background: #38e;
  color: white;
}

.AccountList {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.AccountListItem {
  width: 220px;
  margin: 0 20px 40px;
  float: left;
  text-align: center;
}

.AccountListItemLogoWrapper {
  width: 220px;
  margin: 0 0 10px;
  padding: 30px 0;
  border-radius: 2px 2px 8px 8px;
  background: black;
  text-align: center;
}

.AccountListItemName {
  line-height: 1.4em;
  font-size: .75em;
  font-weight: bold;
  color: mix(white, black, 60%);
}

.AccountListItemAmount {
  line-height: 1.4em;
  font-size: 1.1em;
  color: mix(white, black, 30%);
}
