<header class="Header">
  <div class="Wrapper">
    <div class="Logo">
      <%= image_tag "menthol.png", height: 40 %>
      menthol
    </div>
    <div class="TotalLabel">Total assets</div>
    <div class="Total">
      <%= @accounts.reduce(Money.new(0, @accounts.first.currency)) { |m,a| m + Money.new(a.amount_subunit, a.currency) }.format %>
    </div>
  </div>
</header>

<div class="Wrapper">
  <ul class="AccountList">
    <% @accounts.each do |account| %>
      <%= render_account_as_book(account) %>
    <% end %>
  </ul>
</div>
